.random-planet {
  display: flex;
  margin-bottom: 14px;
  padding: 20px;

  background-color: var(--secondary);

  border-radius: 8px;
}

.random-planet__picture {
  width: 200px;
  height: 200px;
  margin-right: 7%;

  border-radius: 8px;
}

.random-planet__name {
  margin-bottom: 14px;

  font-size: 32px;
  font-weight: bold;
  line-height: 32px;
}

.random-planet__params {
  margin: 0;
  padding: 0;

  list-style: none;
}

.random-planet__param {
  padding: 5px 15px;

  border-top: 2px solid var(--gray-dark);
}

.random-planet__param:last-child {
  border-bottom: 2px solid var(--gray-dark);
}