@keyframes ldio-0zn8psm8pgu {
  0% {
    transform: rotate(0)
  }

  100% {
    transform: rotate(360deg)
  }
}

.ldio-0zn8psm8pgu div {
  box-sizing: border-box !important
}

.ldio-0zn8psm8pgu>div {
  position: absolute;
  width: 126.27px;
  height: 126.27px;
  top: 40.364999999999995px;
  left: 40.364999999999995px;
  border-radius: 50%;
  border: 6.209999999999999px solid #000;
  border-color: #a59d9d transparent #a59d9d transparent;
  animation: ldio-0zn8psm8pgu 2.3255813953488373s linear infinite;
}

.ldio-0zn8psm8pgu>div:nth-child(2),
.ldio-0zn8psm8pgu>div:nth-child(4) {
  width: 109.71px;
  height: 109.71px;
  top: 48.644999999999996px;
  left: 48.644999999999996px;
  animation: ldio-0zn8psm8pgu 2.3255813953488373s linear infinite reverse;
}

.ldio-0zn8psm8pgu>div:nth-child(2) {
  border-color: transparent #fdfdfd transparent #fdfdfd
}

.ldio-0zn8psm8pgu>div:nth-child(3) {
  border-color: transparent
}

.ldio-0zn8psm8pgu>div:nth-child(3) div {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotate(45deg);
}

.ldio-0zn8psm8pgu>div:nth-child(3) div:before,
.ldio-0zn8psm8pgu>div:nth-child(3) div:after {
  content: "";
  display: block;
  position: absolute;
  width: 6.209999999999999px;
  height: 6.209999999999999px;
  top: -6.209999999999999px;
  left: 53.81999999999999px;
  background: #a59d9d;
  border-radius: 50%;
  box-shadow: 0 120.05999999999999px 0 0 #a59d9d;
}

.ldio-0zn8psm8pgu>div:nth-child(3) div:after {
  left: -6.209999999999999px;
  top: 53.81999999999999px;
  box-shadow: 120.05999999999999px 0 0 0 #a59d9d;
}

.ldio-0zn8psm8pgu>div:nth-child(4) {
  border-color: transparent;
}

.ldio-0zn8psm8pgu>div:nth-child(4) div {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotate(45deg);
}

.ldio-0zn8psm8pgu>div:nth-child(4) div:before,
.ldio-0zn8psm8pgu>div:nth-child(4) div:after {
  content: "";
  display: block;
  position: absolute;
  width: 6.209999999999999px;
  height: 6.209999999999999px;
  top: -6.209999999999999px;
  left: 45.54px;
  background: #fdfdfd;
  border-radius: 50%;
  box-shadow: 0 103.49999999999999px 0 0 #fdfdfd;
}

.ldio-0zn8psm8pgu>div:nth-child(4) div:after {
  left: -6.209999999999999px;
  top: 45.54px;
  box-shadow: 103.49999999999999px 0 0 0 #fdfdfd;
}

.loadingio-spinner-double-ring-7pw60bxau2f {
  width: 207px;
  height: 200px;
  display: flex;
  margin: 0 auto;
  overflow: hidden;
}

.ldio-0zn8psm8pgu {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0;
  /* see note above */
}

.ldio-0zn8psm8pgu div {
  box-sizing: content-box;
}